{
  "openapi": "3.1.0",
  "info": {
    "title": "Acciones para GPT con Google Sheets (Perfil de Usuario)",
    "version": "1.1.1"
  },
  "servers": [
    {
      "url": "https://script.google.com"
    }
  ],
  "paths": {
    "/macros/s/AKfycbw6qmFEWIxM1sI-UErqvcfFWDzqyMm8gKggzoaA854IHTK-JNSzeiS_4FrZZM-0cqzsLA/exec": {
      "post": {
        "operationId": "guardarPerfilUsuario",
        "summary": "Guarda el perfil completo del usuario en Google Sheets",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "usuario": {
                    "type": "string"
                  },
                  "nombre": {
                    "type": "string"
                  },
                  "deporteFavorito": {
                    "type": "string"
                  },
                  "equipoFavorito": {
                    "type": "string"
                  },
                  "tipoInformacionPreferida": {
                    "type": "string"
                  },
                  "infoNacionalInternacional": {
                    "type": "string"
                  }
                },
                "required": [
                  "usuario"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perfil guardado o actualizado exitosamente"
          }
        }
      },
      "get": {
        "operationId": "leerPerfilUsuario",
        "summary": "Lee el perfil del usuario desde Google Sheets",
        "parameters": [
          {
            "name": "usuario",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil recuperado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usuario": {
                      "type": "string"
                    },
                    "nombre": {
                      "type": "string"
                    },
                    "deporteFavorito": {
                      "type": "string"
                    },
                    "equipoFavorito": {
                      "type": "string"
                    },
                    "tipoInformacionPreferida": {
                      "type": "string"
                    },
                    "infoNacionalInternacional": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}